!!! 1.1
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %meta{ "name" => "description", "content" => "For all those people who find it more convenient to bother you with their question rather than google it for themselves." }
    %meta{ "name" => "keywords",  "content" => "google, search, funny, comedy" }
    %meta{ "name" => "microid",   "content" => "mailto+http:sha1:359d8b83150288115fa3d70bc929b599ede7fdd4" }
    %meta{ "name" => "verify-v1", "content" => "I9eu/xLrRL55X1KF8yY5VGBzNQKAzj/Vrne6Cwg4Eq8=" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "favicon.ico" }
    %link{ :rel => "search", :type => "application/opensearchdescription+xml", :title => "LMGTFY", :href => "lmgtfy.xml" }
    %title Let me google that for you
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "bundle.js?#{File.mtime("bundle.js").to_i}", :type => "text/javascript" }
    %style{ :rel => "text/css" }
      - require 'sass'
      = Sass::Engine.new(open("style.sass").read, :style => :compact).render
  %body
    -# BuySellAds.com Ad Code
    :plain
      <script type="text/javascript">
      (function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
           bsa.src = '//s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();
      </script>

    %center
      .logo
        %span{ :rel => "localize[pre_logo]" } let me
        %img#logo{ :src => "http://www.google.com/intl/en_ALL/images/srpr/logo1w.png" }
        %span{ :rel => "localize[post_logo]" } that for you
      %br
      %br
      %br
      %form
        %input.text{ :type => "text", :size => 55, :title => "Google Search", :value => "" }
        %br
        %span.button_wrapper
          .inner
            %input#search{ :type => "button", :value => "Google Search", :rel => "localize[search_button]" }
        %span.button_wrapper
          .inner
            %input#lucky{ :type => "button", :value => "I'm Feeling Lucky", :rel => "localize[lucky_button]" }

      #alert{ :style => "display:none; color:#666;" }

      #instructions
        %div
          Enable javascript to use LMGTFY.

      #link_placeholder
      #link
        %input.link.copyable{ :type => "text", :readonly => true }
        #link_message
        #link_buttons
          %a#copy.link_button{ :href => "#", :rel => "localize[link.copy]" } copy
          %a#reset.link_button{ :href => "#", :rel => "localize[link.reset]" } reset
          %a#tiny.link_button{ :href => "#", :rel => "localize[link.shorten]" } tinyurl
          %a#go.link_button{ :href => "#", :rel => "localize[link.go]" } go

    .sponsor.adbrite
      %img{ :src => "/images/sponsored_by.png" }
      -# adBrite Zone Code
      .adbrite
        :plain
          <!-- Begin: adBrite, Generated: 2011-02-04 20:51:18  -->
          <script type="text/javascript">
          var AdBrite_Title_Color = '0000FF';
          var AdBrite_Text_Color = '000000';
          var AdBrite_Background_Color = 'FFFFFF';
          var AdBrite_Border_Color = 'CCCCCC';
          var AdBrite_URL_Color = '008000';
          try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
          </script>
          <span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1863841&zs=3732385f3930&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
          <a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1863841&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /></a></span>
          <!-- End: adBrite -->

    #footer
      %a.about{ :href => "#", :name => "about", :rel => "localize[about]" } About
      %a{ :rel => "localize[privacy]", :href => "privacy.html" } Privacy
      %a{ :href => "http://twitter.com/lmgtfy" } @LMGTFY
      %a{ :rel => "localize[live]", :href => "http://live.lmgtfy.com" } Live Stream
      %a{ :rel => "localize[contact]", :href => "&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%74%61%66%66@%6c%6d%67%74%66%79.%63%6f%6d?body=Jim%20and%20Ryan%20are%20awesome%21&amp;subject=I%20love%20LMGTFY%21" } Contact
      %a{ :rel => "localize[advertise]", :href => "http://buysellads.com/buy/detail/30626" } Advertise

    #about{ :style => "display: none" }
      %p{ :rel => "localize[pitch]" }         This is for all those people who find it more convenient to bother you with their question rather than google it for themselves.
      %p{ :rel => "localize[credit]" }        Created by @coderifous and @rmm5t.
      %p{ :rel => "localize[genesis]" }       Inspired during a lunch conversation with @coderifous, @tmassing, @rmm5t, @EricStratton, and @methodvon.
      %p{ :rel => "localize[translated_by]" }


    :ruby
      def options_from_hash(hash)
        hash.sort { |a, b| a[1] <=> b[1] }.each do |k, v|
          haml_concat "<option value=\"#{k}\">#{v}</option>"
        end
      end

    #language
      %select
        %option{ :value => "" } LMGTFY Worldwide
        :ruby
          options_from_hash(
            "af"    => "Afrikaans",
            "ar"    => "Arabic",
            "be"    => "Belarusian",
            "bg"    => "Bulgarian",
            "bs"    => "Bosnian",
            "ca"    => "Catalan",
            "cs"    => "Czech",
            "cy"    => "Welsh",
            "da"    => "Danish",
            "de"    => "German",
            "el"    => "Greek",
            "en"    => "English",
            "eo"    => "Esperanto",
            "es"    => "Spanish",
            "et"    => "Estonian",
            "fa"    => "Persian",
            "fi"    => "Finnish",
            "fr"    => "French",
            "he"    => "Hebrew",
            "hi"    => "Hindi",
            "hr"    => "Croatian",
            "hy"    => "Armenian",
            "hu"    => "Hungarian",
            "id"    => "Indonesian",
            "it"    => "Italian",
            "ja"    => "Japanese",
            "ka"    => "Georgian",
            "klingon" => "Klingon",
            "kk"    => "Kazakh",
            "ko"    => "Korean",
            "ku"    => "Kurdish",
            "lt"    => "Lithuanian",
            "lv"    => "Latvian",
            "mk"    => "Macedonian",
            "mn"    => "Mongolian",
            "ms"    => "Malay",
            "nl"    => "Dutch",
            "no"    => "Norwegian",
            "pl"    => "Polish",
            "pt"    => "Portuguese",
            "pt-BR" => "Portuguese (Brazil)",
            "ro"    => "Romanian",
            "rs"    => "Serbian",
            "ru"    => "Russian",
            "sl"    => "Slovene",
            "sk"    => "Slovak",
            "sv"    => "Swedish",
            "th"    => "Thai",
            "tl"    => "Tagalog",
            "tr"    => "Turkish",
            "uk"    => "Ukrainian",
            "ur"    => "Urdu",
            "vi"    => "Vietnamese",
            "zh"    => "Chinese",
            "zh-HK" => "Chinese (Hong Kong)",
            "zh-TW" => "Chinese (Taiwan)"
          )

    #copyright
      &copy; LMGTFY, 2009
      ==|
      %span{ :rel => "localize[google_owns_google]" } GOOGLE is a trademark of Google Inc.
      ==|
      %span{ :rel => "localize[disclaimer]" }         Not associated with Google&trade; in any way.

    %img#fake_mouse{ :src => "images/mouse_arrow.png", :style => "display: none" }

    .sponsor.bsa
      -# BuySellAds.com Zone Code
      :plain
        <div id="bsap_1249097" class="bsarocks bsap_4ee0f64d18157a765cae62615d56a1e7"></div>


    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6370983-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
